body {
  font-size: 16px;
  color: #fff;
  background-color: #4d79ff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #e6ecff;
  border-radius: 0;
  border: 0;
  padding-bottom: 20px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: Arial, serif;
  color: #00124d;
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: ##00124d;
  text-align: center;
}
#nav-list a:hover {
  background: #00124d;
  color: #fff;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #00124d;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

.row {
  background: #e6ecff;
  color:  #00124d ;
}

.container-title {
  padding-bottom: 20px;
  font-weight: bold;
  color:  #00124d;
}

section h3 {
  font-weight: bold;
  font-size: 1.5em;
}

li {
  border: 2px solid #000;
}

@media screen and (max-width: 766px) {
  .row {
    margin: 0px 30px;
  }
}